*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: inter !important;
    --primary-color: #0C7ED1;
    overflow: hidden;
}


body {
    background: #d5d5d5;
}